@import './styles/main.css';
@import './styles/landing.css';
@import './styles/editor.css';

/* Import fonts */
@import url('https://fonts.googleapis.com/css2?family=Quicksand:wght@400;500;600;700&display=swap');

/* Custom font for Hachi Maru Pop */
@font-face {
  font-family: 'Hachi_Maru_Pop';
  src: url('./assets/fonts/Hachi_Maru_Pop.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}