
.editor-section {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 50px;
    background-color: var(--gray-300); 
    color: #fff;
    min-height: 400px;
    padding-top: 12rem;
    padding-bottom: 14rem;
  }
  
  .text-content {
    flex: 1;
    padding-right: 30px;
    color: #000;
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif; 
  }
  
  .text-content h1 {
    font-size: 4rem;
    font-weight: 700;
    margin-bottom: 10px;
    color: black;
    text-shadow:  0 2px 4px rgba(0, 0, 0, 0.4);
  }
  
  .text-content h1 span {
    font-style: italic;
    font-size: 3.5rem;
    color: #000; /* Slightly lighter color for "kinda" */
    text-shadow:  0 2px 4px rgba(0, 0, 0, 0.4);


  }
  
  .text-content h2 {
    font-size: 3rem;
    font-weight: normal;
    color: #000;
    margin-bottom: 20px;
    text-shadow:  0 1px 2px rgba(0, 0, 0, 0.3);

  }
  
  .text-content p {
    font-size: 1.7rem;
    margin-bottom: 10px;
    text-shadow:  0 1px 2px rgba(0, 0, 0, 0.3);

  }
  
  .blah-text {
    font-style: italic;
    color: #999; /* Grayed out "BLAH BLAH BLAH..." */
  }
  
  .image-content {
    max-width: 100%;
    overflow: hidden;
    flex: 1;
    display: flex;
    justify-content: center;
  }
  
  .image-content img {
    max-width: 100%;
    height: auto;
    border-radius: 10px; 
  }
  
  @media (max-width: 768px) {
    .editor-section {
      flex-direction: column;
      padding: 30px;
    }
  
    .text-content {
      padding-right: 0;
      margin-bottom: 30px;
      text-align: center;
    }
  
    .image-content {
      width: 100%;
    }
  }
  .glow-img {
    box-shadow:
    0 0 3px 8px rgba(120, 76, 187, 0.21); 
  border-radius: 12px;
  max-width: 100%;
  height: auto;
  display: block;
  }